apiVersion: v1
kind: Config

clusters:
- name: bcp-cluster
  cluster:
    server: "https://{{ kube_apiserver_lb_url }}"
    certificate-authority-data: "{{ ca_cert_b64 }}"

contexts:
- name: bcp-context
  context:
    cluster: bcp-cluster
    user: "{{ kube_user_name }}"

current-context: bcp-context

users:
- name: "{{ kube_user_name }}"
  user:
    client-certificate-data: "{{ user_cert_b64 }}"
    client-key-data: "{{ user_key_b64 }}"